{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Card for the form -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="text-center">Enter Your Details</h3>
                </div>
                
                <div class="card-body">
                    <form action="/finalize_booking" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="seatId">SeatID</label>
                            <select class="form-control" id="seatId" name="seatId" placeholder="Enter your seat ID" required>
                            <option value="">Select</option>
                            <option value="Economy">Economy</option>
                            <option value="FirstClass">FirstClass</option>
                            <option value="PremiumClass">PremiumClass</option>
                            <option value="BusinessClass">BusinessClass</option>
                        </div>
                        <input type="hidden" name="origin_city" value="{{ flight_details.origin_city }}">
                        <input type="hidden" name="destination_city" value="{{ flight_details.destination_city }}">
                        <input type="hidden" name="airline" value="{{ flight_details.airline }}">
                        <input type="hidden" name="NoofConnection" value="{{ flight_details.NoofConnection }}">
                        <input type="hidden" name="depart_date" value="{{ flight_details.depart_date }}">
                        <input type="hidden" name="available_seats" value="{{ flight_details.available_seats }}">

                        <div class="mb-3"></div>
                        
                        <button type="submit" class="btn btn-primary btn-block">Submit Booking</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
