<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>HOMEPAGE</title>
    <style>
    body {
      height: 100vh;
      margin: 0;
      background-image: url('https://wallpapercave.com/wp/wp6493600.jpg');
      background-size: cover;
      background-repeat: repeat;
      background-position: center;
      background-color: white
    }

    .container {
      padding-top: 70px;
    }

    .custom-table {
        background-color: #f8f9fa;
        color: #212529; 
        border-color: #dee2e6;
    }

    .custom-table tbody tr:hover {
        background-color: #e9ecef;
    }

    .custom-table th {
        background-color: #007bff; 
        color: #ffffff;
    }
    .form-row {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 20px;
}

#searchFlightsBtn {
    border-radius: 20px;
}

.table {
    border-radius: 20px;
    overflow: hidden;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table th {
    background-color: #007bff;
    color: #ffffff;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="navbar-brand mx-auto text-white" href="{{ url_for('bookedticket') }}">BOOKED TICKETS</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto text-white" href="{{ url_for('index') }}">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div style="color: #ffffff;" >
        <center>
            <h3>BOOK YOUR TICKET!!!</h3>
        </center>
    </div>
    <div style="color: aliceblue;" class="container">
        <form id="searchForm" action="/bookingdetails" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="originCity">Origin City:</label>
                    <select id="originCity" name="originCity" class="form-control">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="destinationCity">Destination City:</label>
                    <select id="destinationCity" name="destinationCity" class="form-control">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="departdate">Depart Date:</label>
                    <input type="date" id="departdate" name="departdate" class="form-control mb-2 mr-sm-2">
                </div>
                <div class="form-group col-md-4">
                    <label for="airline">Airline:</label>
                    <select id="airline" name="airline" class="form-control">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="currencySelect">Currency:</label>
                    <select id="currencySelect" class="form-control">
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="NoofConnection">No of Connection:</label>
                    <select id="NoofConnection" class="form-control">
                        <option value="Select">...</option>
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <button type="button" id="searchFlightsBtn" class="btn btn-primary">Search Flights</button>
        </form>
        <div id="flightResults" class="mt-4"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var globalFlightData = [];
        var globalCurrencyRates = {};
    
        function fetchAndPopulateData(apiUrl, elementId) {
            fetch(`http://127.0.0.1:5000/api/${apiUrl}`)
                .then(response => response.json())
                .then(data => {
                    populateDropdown(elementId, data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    
        function populateDropdown(elementId, data) {
            var dropdown = document.getElementById(elementId);
            dropdown.innerHTML = '<option value="">Select...</option>';
            data.forEach(function(item) {
                var option = document.createElement("option");
                option.value = item;
                option.text = item;
                dropdown.appendChild(option);
            });
        }
    
        function fetchFlightResults() {
            var originCity = document.getElementById("originCity").value;
            var destinationCity = document.getElementById("destinationCity").value;
            var airline = document.getElementById('airline').value;
            var selectedCurrency = document.getElementById('currencySelect').value;
            var NoofConnection = document.getElementById('NoofConnection').value; 
            var url = `http://127.0.0.1:5000/api/flights_data?originCity=${encodeURIComponent(originCity)}&destinationCity=${encodeURIComponent(destinationCity)}&currency=${encodeURIComponent(selectedCurrency)}&airline=${encodeURIComponent(airline)}&NoofConnection=${encodeURIComponent(NoofConnection)}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    globalFlightData = data.flights;
                    displayFlightResults(globalFlightData);
                })
                .catch(error => console.error('Error fetching flight details:', error));
        }
    
        function displayFlightResults(flights) {
            var flightResultsDiv = document.getElementById("flightResults");
            flightResultsDiv.innerHTML = "";
    
            if (!flights.length) {
                flightResultsDiv.textContent = "No flights found.";
                return;
            }
    
            var table = document.createElement("table");
            table.classList.add("table", "table-bordered", "mt-2", "custom-table");
            
            var thead = document.createElement("thead");
            thead.innerHTML = `
                <tr>
                    <th>Flight ID</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Depart Date</th>
                    <th>Airline</th>
                    <th>Available Seats</th>
                    <th>Connection</th>
                    <th>Duration</th>
                    <th>Layover</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            `;
            table.appendChild(thead);
    
            var tbody = document.createElement("tbody");
            flights.forEach(function(flight) {
                var row = document.createElement("tr");
                row.innerHTML = `
                    <td>${flight.flight_id}</td>
                    <td>${flight.origin_city}</td>
                    <td>${flight.destination_city}</td>
                    <td>${flight.depart_date}</td>
                    <td>${flight.airline}</td>
                    <td>${flight.available_seates}</td>
                    <td>${flight.NoofConnection}</td>
                    <td>${flight.Duration}</td>
                    <td>${flight.Layover}</td>
                    <td>${flight.converted_price || flight.price} ${flight.currency || 'USD'}</td>
                    <td>
                        <form action="/bookingdetails" method="POST">
                            <input type="hidden" name="flight_id" value="${flight.flight_id}"/>
                            <input type="hidden" name="origin_city" value="${flight.origin_city}"/>
                            <input type="hidden" name="destination_city" value="${flight.destination_city}"/>
                            <input type="hidden" name="depart_date" value="${flight.depart_date}"/>
                            <input type="hidden" name="airline" value="${flight.airline}"/>
                            <input type="hidden" name="available_seates" value="${flight.available_seates}"/>
                            <input type="hidden" name="NoofConnection" value="${flight.NoofConnection}"/>
                            <input type="hidden" name="Duration" value="${flight.Duration}"/>
                            <input type="hidden" name="Layover" value="${flight.Layover}"/>
                            <input type="hidden" name="BaggageInfo" value="${flight.BaggageInfo}"/>
                            <input type="hidden" name="price" value="${flight.price}"/>
                            <input type="hidden" name="priceInSelectedCurrency" value="${flight.converted_price || flight.price} ${flight.currency || 'USD'}"/>
                            <button type="submit" class="btn btn-primary bookBtn">Book</button>
                        </form>
                    </td>
                `;
                tbody.appendChild(row);
            });
            table.appendChild(tbody);
            flightResultsDiv.appendChild(table);

        var bookButtons = document.querySelectorAll('.bookBtn');
            bookButtons.forEach(function(btn) {
                btn.addEventListener('click', function() {
                    const flightData = JSON.parse(this.getAttribute('data-flight'));
                    localStorage.setItem('flightDetails', JSON.stringify(flightData));
                    window.location.href = '/bookingdetails';
                });
            });
        }
    
        function fetchAndPopulateCurrencyRates() {
            fetch('http://127.0.0.1:5000/currency_rates')
                .then(response => response.json())
                .then(rates => {
                    globalCurrencyRates = rates;
                    var currencySelect = document.getElementById('currencySelect');
                    currencySelect.innerHTML = '<option value="">Select Currency...</option>';
                    for (const currency in rates) {
                        const option = document.createElement('option');
                        option.value = currency;
                        option.textContent = currency;
                        currencySelect.appendChild(option);
                    }
                })
                .catch(error => {
                    console.error('Error fetching currency rates:', error);
                });
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            fetchAndPopulateData('origincity', 'originCity');
            fetchAndPopulateData('destinationcity', 'destinationCity');
            fetchAndPopulateData('departuredate', 'departdate');
            fetchAndPopulateData('airline', 'airline');
            fetchAndPopulateData('NoofConnection', 'NoofConnection');
            fetchAndPopulateCurrencyRates();
    
            document.getElementById('searchFlightsBtn').addEventListener('click', function() {
                fetchFlightResults();
            });
            document.getElementById('currencySelect').addEventListener('change', fetchFlightResults);
        });
    
        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('bookBtn')) {
                console.log('Booking functionality not implemented.');
            }
        });
    </script>
</body>
</html>